.edit-profile {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  height: 100%;
  padding: 20px 30px;
}

.edit-profile-title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  margin-bottom: 0;
}

.text-field {
  width: 100% !important;
  margin-top: 22px !important;
}

.date-birth {
  margin-top: 22px !important;
}

.save-info {
  text-transform: none !important;
  color: #fff !important;
  background-color: #000 !important;
  font-size: 18px !important;
  margin-top: 30px !important;
  border-radius: 8px !important;
  padding: 5px 10px !important;
}
