#footer {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 20px 0;
}

.footer-text-pre {
  font-size: 18px;
  font-weight: 700;
}

.list-group-item {
  margin: 7px 0;
}

.footer-text {
  text-decoration: none;
  color: #fff;
}

.footer-text:hover {
  color: yellow;
}

.ml-10 {
  margin-left: 10px !important;
}
